@font-face {
  font-family: "Hellix";
  src: url("/static/fonts/Hellix-Regular.ce7e7fc9354f.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hellix";
  src: url("/static/fonts/Hellix-SemiBold.656fff162b3b.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}